<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Voyager | LOGIN </title>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <!--  CUSTOM CSS  -->
  <link href="css/relocation_style.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body>
<form id="signonform" class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="userName" type="text" class="validate">
          <label for="userName">User Name</label>
        </div>
      </div>
      <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" class="validate">
            <label for="email">Email</label>
          </div>
        </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      
      <div class="row">
        <button id="signonSubmit" type="submit" class="modal-close waves-effect waves-green btn-flat">Register</button> 
        </div>
      </div>
    </form>

    <div class="footer-copyright ">
      <div class="container ">
        Made by
        <a class="brown-text text-lighten-3 " href=" ">Kevin Beeler, Renee Boyd, Kristen Kirchgesler, Shaela Sterling, Anna Wolf</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js "></script>
  <script src="js/materialize.js "></script>
  <script src="js/init.js "></script>


  <script src="js/home.js " type="text/javascript "></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js "></script>

</body>

</html>